<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link href="{{ url_for('static', filename='css/change_password.css')}}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="change_password_win">
        <div class="change_psw_title_block">
            <h1 class="change_psw_title">Восстановление пароля</h1>
        </div>
        <form class="change_psw_form">
            <p class="change_psw_text">Введите email и мы вышлем ссылку для восстановления</p>
            <input class="mailtochange" type="email" placeholder="Введите email">
            <div class="flash_text">Пользователь с таким email не зарегистрирован. <br>
                Пожалуйста, <a href="{{url_for('registration')}}" class="reg_link">зарегистрируйтесь</a>.
            </div>
            <button type="submit" class="change_psw_btn">Отправить запрос</button>

            <a href="{{url_for('login')}}"><button class="remembered_psw" id="remembered_psw" type="button">Я вспомнил пароль</button></a>
        </form>
    </div>
</body>
</html>