<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивная карта</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=04fcaae6-825a-469a-86fe-eabc5755edd4&lang=ru_RU" type="text/javascript">
    </script>
    <script src="/static/script/script.js" type="text/javascript" defer></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="nav">
                <img class="schoollogo" src="/static/images/schoollogo.png">
                {% if checklogin %}
                    <button name="open-register-win" class="emailbutton">{{login}}</button>
                {% else %}
                <a href="/registration" class="regbutton">Регистрация</a>
                <img class="loginimage" src="/static/images/loginimage.jpg">
                <a href="/login" class="loginbutton">Войти</a>
                {% endif %}
            </div>
            <div class="first">
                <h1>Интерактивная карта ВДНХ</h1>
                <div class="part">
                    <div class="textblock">
                        <h2>Как пользоваться картой</h2>
                        <p>Текст про ВДНХ обязательно здесь когда-то будет. И о картах по
                            ВДНХ тоже. Вообще я капец как устал делать этот сайт, но к сожалению нужно, да и, думаю,
                            полезно для своего дальнейшего развития в сфере ИТ.
                        </p>
                    </div>
                    <img class="mainimage" src="/static/images/mainpage.jpg">
                    </div>
                <button class="registration">Регистрация</button>
                <button class="login">Войти</button>
            </div>
        </div>
    </header>
    <section>
        <div class="container3"></div>
        <div class="container2">
            <h1>Выбрать объекты на карте</h1>
            <ul>
                <li id="search">Поиск</li>
                <li id="newRoute">Построить маршрут</li>
                <li id="placesofinterest">Достопримечательности на карте ВДНХ</li>
                <li id="routeone">Маршрут 1: Метро ВДНХ - Главный вход ВДНХ</li>
                <li id="routetwo">Маршрут 2: Главный вход ВДНХ - Каток ВДНХ</li>
                <li id="routethree">Маршрут 3: Главный вход ВДНХ - Павильон Космос</li>
            </ul>
            <div id="map"></div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="down">Полезные ссылки на ВДНХ</h1>
            <div class="usefulllinks">
                <div class="places"><a href="https://vdnh.ru/places/" class="placestext">Места</a></div>
                <div class="events"><a href="https://vdnh.ru/events/" class="placestext">События</a></div>
                <div class="routes"><a href="https://vdnh.ru/routes/" class="placestext">Маршруты</a></div>
            </div>
        </div>
    </section>
    <footer>
        <p class="footertext">©2023, Москва, ГБОУ школа № 2098. 10 класс "И".
            При использовании любых элементов данного сайта, необходимо указать ссылку на источник.</p>
    </footer>
</body>
</html>