<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо отправлено</title>
    <link href="{{ url_for('static', filename='css/password_send.css')}}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="password_send_win">
        <div class="titletextblock">
            <h1 class="mailsendtitle">Письмо для восстановления отправлено</h1>
        </div>
        <p class="mailsendtext">Проверьте ваш почтовый ящик – на него должно
            прийти письмо с инструкциями и ссылкой для смены пароля.
            Если письмо не пришло, проверьте папку «Спам».
        </p>
        <button class="mailsendbtn">Понятно</button>

    </div>
</body>
</html>
