<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="{{ url_for('static', filename='css/registration.css')}}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="reg_win">
        <div class="reg_title_block">
            <h1 class="reg_title">Зарегистрируйтесь</h1>
        </div>
        <form method="post" class="reg_form">
            <input class="forminput" type="text" name="login" placeholder="Придумайте логин">
            <input class="forminput" type="text" name="name" placeholder="Введите ваши фамилию и имя">
            <input class="forminput" type="email" name="email" placeholder="Введите email">
            <input class="forminput" type="password" name="password" placeholder="Придумайте пароль">
            <input class="forminput" type="password" name="repeatpassword" placeholder="Повторите пароль">
            <div class="reg_submit">
                <input class="check_btn" type="checkbox" name="check_policy">
                <p class="reg_submit_text">Регистрируясь в сервисе, я принимаю
                    <a href="{{url_for('terms')}}">условия соглашения</a>
                    и <a href="{{url_for('politics')}}">политику конфиденциальности</a>.
                </p>
            </div>
            <button class="reg_btn" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>